---
layout: default
title: Feedback Hub Online
tagline: Supporting tagline
---
{% include JB/setup %}

<div class="container">
  <div class="titlebar">Latest Announcements<span id="switchTheme">Switch Theme</span></div>
  <ul class="list-group">
    {% for announcement in site.announcements reversed %}
      <li class="list-group-item"><a href="{{ BASE_PATH }}{{ announcement.url }}">{{ announcement.title }}<span>{{ announcement.date | date_to_string }}</span></a></li>
    {% endfor %}
  </ul>
</div>
